# Ignore node modules - will be reinstalled in image
node_modules

# Ignore build output
.next

# Ignore config and dist variants
.env
.env.*.dist

# Ignore dockerfiles and dockerignore
dockerfile.*
.dockerignore

# Git & metadata
.gitignore

# README.md files
*.md

# Dev-only files
eslint.config.mjs
next-env.d.ts